<li>
	<div class="burger-item">
		{{burger_name}}

		{{#if devour}}
		<button class="btn btn-warning change-devour float-right" data-id="{{id}}" data-newdevour="{{devour}}">DEVOUR</button>
		{{else}}
		<button class="btn btn-danger delete-devour float-right" data-id="{{id}}" data-newdevour="{{devour}}">X</button>
		{{/if}}
	</div>
</li>